body {
  margin: 0;
}
.container {
  margin: 0 auto;
  width: 600px;
  height: 700px;
  background-color: lightgray;
  border: 1px solid black;
}

.nav {
}

.gameBoard {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.startBtn {
}

.snake {
  background-color: black;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 250px;
  left: 250px;
  display: none;
}

.food {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border-radius: 50%;
}
